.recentlyJoined {
  margin: 80px;
  display: flex;
}

.recentlyJoined > .MuiGrid-container {
  justify-content: center;
}

.recentlyJoined__title {
  margin-top: 30px !important;
  text-align: center !important;
  font-size: 48px !important;
  box-shadow: 0 3px 4px -4px rgb(167, 165, 165);
  padding-bottom: 10px !important;
  color: #61605f !important;
}
