.trendingJobsCard {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 20px !important;
  justify-content: center;
}

.trendingJobsCard__card {
  background-color: #f3f0f0 !important;

  flex-direction: column;
  display: flex;
  align-items: center;
  /* background: linear-gradient(#29dda1, #3c85f1) !important; */
  height: 300px !important;
  width: 350px !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 4px -4px rgb(189, 189, 189);
  font-size: 26px !important;
}
.trendingJobsCard__typo {
  text-align: center;
  color: #690505;
  font-size: 26px !important;
}
.MuiCardActions-root .MuiCardActions-spacing {
  align-items: center !important;
  justify-content: center !important;
}

.trendingJobsCard__button {
  display: flex !important;
  bottom: -110px !important;
  text-transform: capitalize !important;
  color: #aa7f13 !important;
}
